body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    background-color: white;
    z-index: 2;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
}

    .logo span {
        color: red;
    }
    .logo h1 {
        font-size: 36px;
        color: dimgrey; 
        margin-top: 0;
    }

.search-bar {
    text-align: center;
    margin-bottom: 0px;
    position: relative;
}

.search-input {
    padding: 8px;
    width: 500px;
    margin-left:200px;
}

.search-button {
    padding: 10px 25px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
 
}

.logdaf {
    padding: 10px 60px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 160px;
    text-align: center;
}

.search-button:hover {
    background-color: darkred;
}
.logdaf:hover{
    background-color: darkred;
}

.button-group {
    margin-top: 17px;
}

.tag {
    margin: 3px;
    padding: 3px 16px;
    background-color: white;
    color: red;
    border-color: red;
    cursor: pointer;
    border-radius: 12px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.kategori-group {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 100px; 
    width: 200px; 
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
    z-index: 1;
}

.kategori {
    margin: 5px;
    padding: 8px 16px;
    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.kategori-buttons {
    background-color: lightgrey;
    padding: 10px;
    display: inline-block;
}

.kategori:hover {
    background-color: red; 
    color: white; 
}

.kategori-title-container {
    background-color: red;
    padding: 0px 52.5px;  
    display: inline-block; 
    color: white;
}

.image-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.content img {
    width: 980px; 
    height: 380px; 
    display: block;
    margin: 0 auto; 
    margin-right: 10px;
    margin-bottom: 20px;
}

.content-slide {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
}

.product {
    padding-bottom: 0px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.gallery img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.button-detail {
    padding: 8px 14px;
    background-color: red; 
    color: white; 
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-family: 'Arial', sans-serif; 
    font-size: 14px; 
    transition: background-color 0.3s ease;
}

    .button-detail:hover {
        background-color: darkred; 
    }

    .gallery figure p {
        font-family: 'Arial Rounded MT'; 
        font-size: 16px; 
        color: black; 
        margin: 10px 0; 
    }
    .gallery figure figcaption {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
        font-size: 14px; 
        color: black; 
        margin: 10px 0; 
    }

.footer {
    background-color: darkgrey;
    padding: 20px;
    width: 100%;
    bottom: 0;
    margin-top: 60px;

   


    display: flex;
    flex-direction: column;
}

    .footer h4 {
        margin: 0; 
        margin-top: 15px;
    }

        .footer h4 span:first-child {
            color: red; 
        }

        .footer h4 span:last-child {
            color: dimgrey; 
        }

    .footer p {
       font-size: 13px;
    }


    .footer h5 {
        text-align: center;
        font-weight: normal;
    }





@media (min-width: 400px) {

    .container {
        width: 90rem;
    }

    .search-bar {
        margin-right: 13rem;
    }

    .search-input {
        width: 25rem;
    }

    .logdaf {
        width: 8rem;
        padding: 10px 20px;
    }

    .kategori-buttons {
        width: 11rem;
    }

    .kategori-title-container {
        width: 11rem;
        padding: 0px 45px;
    }

    .image-wrapper {
        width: 900px;
        height: 560px;
        margin-left: 13rem;
    }

    .image-slide {
        margin-left: 13rem;
    }

    .product {
        font-size: 10px;
    }

    .gallery img {
        width: 130px;
        height: 100px;
    }

    .footer {
        width: 1128px;
    }
 
}


@media (min-width: 600px) {

    .container {
        width: 90rem;
    }

    .search-bar {
        margin-right: 13rem;
    }

    .search-input {
        width: 25rem;
    }

    .logdaf {
        width: 8rem;
        padding: 10px 20px;
    }

    .kategori-buttons {
        width: 11rem;
    }

    .kategori-title-container {
        width: 11rem;
        padding: 0px 45px;
    }

    .image-wrapper {
        width: 900px;
        height: 560px;
        margin-left: 13rem;
    }

    .image-slide {
        margin-left: 13rem;
    }

    .product {
        font-size: 10px;
    }

    .gallery img {
        width: 130px;
        height: 100px;
    }

    .footer {
        width: 1128px;
    }
 
   
}



@media (min-width: 800px) {

    .container {
        width: 90rem;
    }

    .search-bar {
        margin-right: 13rem;
    }

    .search-input {
        width: 25rem;
    }

    .logdaf {
        width: 8rem;
        padding: 10px 20px;
    }

    .kategori-buttons {
        width: 11rem;
    }

    .kategori-title-container {
        width: 11rem;
        padding: 0px 45px;
    }

    .image-wrapper {
        width: 900px;
        height: 560px;
        margin-left: 13rem;
    }

    .image-slide {
        margin-left: 13rem;
    }

    .product {
        font-size: 10px;
    }

    .gallery img {
        width: 125px;
        height: 100px;
    }

    .footer {
        width: 1128px;
    }
 
}


@media (min-width: 1000px) {

    .container {
        width: 90rem;
    }

    .search-bar {
        margin-right: 14rem;
    }

    .search-input {
        width: 25rem;
    }

    .logdaf {
        width: 9rem;
        padding: 10px 25px;
    }

    .kategori-buttons {
        width: 11rem;
    }

    .kategori-title-container {
        width: 11rem;
        padding: 0px 45px;
    }

    .image-wrapper {
        width: 900px;
        height: 560px;
        margin-left: 13rem;
    }

    .image-slide {
        margin-left: 13rem;
    }

    .product {
        font-size: 10px;
    }

    .gallery img {
        width: 130px;
        height: 100px;
       
    }

    .footer {
        width: 1128px;
    }

    

}



@media (min-width: 1200px) {

    .container {
        width: 90rem;
    }

    .search-bar {
        margin-right: 8rem;
    }

    .search-input {
        width: 27rem;
    }

    .logdaf {
        width: 10rem;
    }

    .kategori-buttons {
        width: 13rem;
    }

    .kategori-title-container {
        width: 13rem;
    }

   
}




@media (min-width: 1400px) {

    .container {
        width: 100rem;
    }

    .search-bar {
        margin-left: 5rem;
    }

    .search-input {
        width: 33rem;
    }

    .logdaf{
        width: 11rem;
    }


    .kategori-buttons {
        width: 13rem;
    }

    .kategori-title-container {
        width: 13rem;
    }

    
}



@media (min-width: 1600px) {

    .container {
        width: 120rem;
    }

    .search-bar {
        margin-right: 10rem;
    }

    .search-input {
        width: 45rem;
    }

    .kategori-buttons {
        width: 13rem;
    }

    .kategori-title-container {
        width: 13rem;
    }
  
}



@media (min-width: 1800px) {

    .container {
        width: 135rem;
    }

    .search-bar {
        margin-right: 17rem;
    }

    .search-input {
        width: 55rem;
    }

    .logdaf {
        width: 15rem;
    }

    .kategori-buttons {
        width: 17rem;
    }

    .kategori-title-container {
        width: 17rem;
    }

  
}


@media (min-width: 2000px) {

    .container {
        width: 155rem;
    }

    .search-bar {
        margin-right: 14rem;
    }

    .search-input {
        width: 60rem;
    }

    .logdaf {
        width: 15rem;
    }

    .kategori-buttons {
        width: 17rem;
    }

    .kategori-title-container {
        width: 17rem;
    }
  
}







